<div class="col-xs-4">
  <div class="form-group">
    &nbsp;&nbsp;<mat-form-field *ngIf="datagroup_notnull">
      <mat-label>เลือกกลุ่มเรียน</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let i of datagroup_notnull; let x = index"
          [value]="i.study_group_name"
          (click)="ongetmajor_and_ad(i.name_th, i.name, i.study_group_id)"
        >
          {{ i.study_group_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    &nbsp;&nbsp;&nbsp;&nbsp; สาขาวิชา : {{ major1 }}<br />
    <br />&nbsp;&nbsp;&nbsp;&nbsp;อาจารย์ที่ปรึกษา : {{ ad1 }} &nbsp;

    <br /><br />

    &nbsp;&nbsp;<input
      type="file"
      (change)="onUpload($event)"
      [hidden]="datast_group"
    />
    <button
      mat-flat-button
      color="primary"
      data-toggle="modal"
      data-target="#InsertStudentModal"
      [hidden]="!datast_group"
    >
      <mat-icon style="size: 50px"> add_box </mat-icon>&nbsp;เพิ่มนักศึกษา
    </button>
    <mat-form-field
      [hidden]="!datast_group"
      class="example-full-width"
      style="float: right;width: 500px;padding-right: 50px;"
    >
      <input matInput placeholder="ค้นหา" #se_st />
      <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
    </mat-form-field>
    <br />
    <br />
    <table class="table table-striped" *ngIf="datast_group != null">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">รหัสนักศึกษา</th>
          <th scope="col">คำนำหน้า</th>
          <th scope="col">ชื่อ</th>
          <th scope="col">นามสกุล</th>
          <th scope="col">สถานะ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let i of onsearch_student_group(datast_group, se_st.value);
            let x = index
          "
        >
          <th scope="row">{{ x + 1 }}</th>
          <td>{{ i.STUDENT_NO }}</td>
          <td>{{ i.Prefix }}</td>
          <td>{{ i.NAME }}</td>
          <td>{{ i.LNAME }}</td>
          <td>{{ i.StatusName }}</td>
          <td>
            <span>
              <button
                mat-button
                color="link"
                data-toggle="modal"
                data-target="#UpdateStudentModal"
              >
                <mat-icon> update </mat-icon>
              </button></span
            >

            <span>
              <button mat-button color="warn">
                <mat-icon> delete </mat-icon>
              </button></span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <!-- &nbsp;&nbsp;<input
          type="file"
          (change)="onUpload($event)"
          [hidden]="datastgroup"
        />
        <mat-form-field
          [hidden]="!datastgroup"
          class="example-full-width"
          style="float: right;width: 500px;padding-right: 50px;"
        >
          <input matInput placeholder="ค้นหา" #se_st />
          <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
        </mat-form-field>
        <br />
        <br />
        <table class="table table-striped" *ngIf="datastgroup != null">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">รหัสนักศึกษา</th>
              <th scope="col">คำนำหน้า</th>
              <th scope="col">ชื่อ</th>
              <th scope="col">นามสกุล</th>
              <th scope="col">สถานะ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let i of onsearchstudent(datastgroup.record, se_st.value);
                let x = index
              "
            >
              <th scope="row">{{ x + 1 }}</th>
              <td>{{ i.STUDENT_NO }}</td>
              <td>{{ i.Prefix }}</td>
              <td>{{ i.NAME }}</td>
              <td>{{ i.LNAME }}</td>
              <td>{{ i.StatusName }}</td>
              <td>
                <span>
                  <button mat-button color="link">
                    <mat-icon> update </mat-icon>
                  </button></span
                >

                <span>
                  <button mat-button color="warn">
                    <mat-icon> delete </mat-icon>
                  </button></span
                >
              </td>
            </tr>
          </tbody>
        </table> -->
  </div>
</div>

<div
  class="modal fade"
  id="InsertStudentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="InsertStudentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="InsertStudentModalLabel">เพิ่มนักศึกษา</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        รหัสนักศึกษา :
        <mat-form-field class="example-full-width">
          <input matInput #id maxlength="15" />
        </mat-form-field>
        <br />
        คำนำหน้า :
        <mat-form-field>
          <mat-label>เลือกคำนำหน้า</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        ชื่อ :
        <mat-form-field class="example-full-width">
          <input matInput #fn maxlength="50" />
        </mat-form-field>
        <br />
        นามสกุล :
        <mat-form-field class="example-full-width">
          <input matInput #ln maxlength="50" />
        </mat-form-field>
        <br />
        กลุ่มเรียน :
        <br />
        อาจารย์ที่ปรึกษา :
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="UpdateStudentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="UpdateStudentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="๊UpdateStudentModalLabel">แก้ไขนักศึกษา</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        รหัสนักศึกษา :
        <mat-form-field class="example-full-width">
          <input matInput #id maxlength="15" />
        </mat-form-field>
        <br />
        คำนำหน้า :
        <mat-form-field>
          <mat-label>เลือกคำนำหน้า</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        ชื่อ :
        <mat-form-field class="example-full-width">
          <input matInput #fn maxlength="50" />
        </mat-form-field>
        <br />
        นามสกุล :
        <mat-form-field class="example-full-width">
          <input matInput #ln maxlength="50" />
        </mat-form-field>
        <br />
        กลุ่มเรียน :
        <br />
        อาจารย์ที่ปรึกษา :
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
